*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: #000;
    display: flex;
    flex-direction: column;
}
.menu{
    background-color: #2d4059;
    display: flex;
    height: 100px;
    align-items: center;
    color:#fff;
}

.logo{
    background: #EA5455;
    flex: 1 1 auto; 
}
.nav{
    background: #EA5455;
    flex: 1 1 auto;
}
.nav a{
    color: #fff;
    text-decoration: none;
}
.social{ 
    background: #EA5455;
    flex: 1 1 auto; 
}
.texto-principal{
    background: #f07b3f;
}
h1{
    background: #ffd460;
}

.section{
    background-color: #000;
    display: flex;
}

    .articulos{
        background: #4e4e6a;
        flex: 2 1 auto;
        display:flex;
        flex-wrap: wrap;
    }
        .article{
            background: #1f6cb0;
            flex: 1 1 40%;
        }
        .navegacion{
            background: #70a3c4;
            flex: 1 1 100%;
        }
    .aside{
        background: #f73f52;
        flex:1 1 auto;
        display:flex;
        flex-direction: column;
    }
        .publicidad{
            background: #ffea85 ;
        }
.footer{
    background-color: #000;
    display: flex;
    justify-content: center;
}
.pie{
    background: #e6af2e;
    width: 300px;
}

@media (max-width:800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
    .publicidad{
        flex:1 1 auto;
    }
}
@media (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}

@media(max-width:400px){
    .aside{
        flex-direction: column;
    }
    .publicidad{
        width:100%
    }
}


